services:
    mysql:
        image: mysql:8.4.7
        container_name: mysql-pedido
        environment:
            MYSQL_ROOT_PASSWORD: root
        ports:
            - "3308:3306"
        volumes:
            - ./mysql:/var/lib/mysql
            - ./docker/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql