<div class="container mx-auto p-4">
  <h2 class="text-2xl font-bold mb-4">Add Product</h2>
  @if (productCreated) {
    <h4 class="text-green-500">Product Created Successfully</h4>
  }
  <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <label class="block text-gray-700" for="skucode">SKU Code</label>
      <input
        type="text"
        id="skucode"
        formControlName="skucode"
        class="border rounded w-full py-2 px-3 text-gray-700"
      />
      <div *ngIf="skucode?.invalid && (skucode?.dirty || skucode?.touched)" class="text-red-500">
        <div *ngIf="skucode?.errors?.['required']">SKU Code is required.</div>
        <div *ngIf="skucode?.errors?.['minlength']">SKU Code must be at least 3 characters long.</div>
      </div>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700" for="name">Name</label>
      <input
        type="text"
        id="name"
        formControlName="nome"
        class="border rounded w-full py-2 px-3 text-gray-700"
      />
      <div *ngIf="nome?.invalid && (nome?.dirty || nome?.touched)" class="text-red-500">
        <div *ngIf="nome?.errors?.['required']">Name is required.</div>
        <div *ngIf="nome?.errors?.['minlength']">Name must be at least 3 characters long.</div>
      </div>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700" for="description">Description</label>
      <textarea
        id="description"
        formControlName="descricao"
        class="border rounded w-full py-2 px-3 text-gray-700"
      ></textarea>
      <div *ngIf="descricao?.invalid && (descricao?.dirty || descricao?.touched)" class="text-red-500">
        <div *ngIf="descricao?.errors?.['required']">Description is required.</div>
        <div *ngIf="descricao?.errors?.['minlength']">Description must be at least 10 characters long.</div>
      </div>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700" for="price">Price</label>
      <input
        type="number"
        id="price"
        formControlName="preco"
        class="border rounded w-full py-2 px-3 text-gray-700"
      />
      <div *ngIf="preco?.invalid && (preco?.dirty || preco?.touched)" class="text-red-500">
        <div *ngIf="preco?.errors?.['required']">Price is required.</div>
        <div *ngIf="preco?.errors?.['min']">Price must be greater than 0.</div>
      </div>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700" for="quantidade">Initial Quantity</label>
      <input
        type="number"
        id="quantidade"
        formControlName="quantidade"
        class="border rounded w-full py-2 px-3 text-gray-700"
      />
    </div>

    <button
      type="submit"
      class="bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600"
      [disabled]="addProductForm.invalid"
    >
      Add Product
    </button>
  </form>
</div>
